* {
    padding: 0;
    margin: 0;
    font-family: "ubuntu", sans-serif;
}

body {
    background: linear-gradient(180deg, rgb(254, 249, 201) 0%, rgb(255, 255, 0) 100% ) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hide {
    display: none;
}

.container {
    background-color: rgb(110, 110, 117);
    box-shadow: rgba(0,0,0, .24) 0px 5px 10px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
}

/* form */
.form h2 {
    margin-bottom: 1rem;
}

.form-input-container {
    display: flex;
}

.form input {
    padding: 0.8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}

.form button {
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: rgb(255, 244, 129);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* clima*/

#weather-data {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

#weather-data h2 i {
    font-size: 1rem;
}

#weather-data span {
    margin: 0.6rem;
}

#country {
    height: 20px;
}

#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}

#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#details-container #umidity {
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: 0.6rem;
}
